<!DOCTYPE html>
<html lang="en">
  <style type="text/css">
      .orangey {
          color: #FF9933; 
      }
  </style>
  <script>
    function goBack() {
      window.history.back()
      }
  </script>
  <head>
    <meta charset="utf-8">
    <title>Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>

  <% include ../header.html %>
  <body >
    <div class="container">
      <h2> <font class="orangey"><%= item_details[0].item_id %></font></h2>
      <div class="thumbnail span4">
          <img src="http://placehold.it/480x480" alt="ALT NAME">
      </div>
      <div class="span4">
        <div class="well">
                <div class="simpleCart_shelfItem">
		  <p><span class="label label-success"><%= item_details[0].item_id %></span></p>
		  <h2 class="item_name"><%= item_details[0].description %></h2>
                  <h3> <font class="orangey"> <%= item_details[0].country_of_origin %></font></h3>
                  <p>
                    <strong>
		      <span class="item_price">$<%= item_details[0].cost %></span><br>
                      <!--Qty: <input type="text" value="1" class="item_Quantity"><br>
                      <select class="item_Quantity">
                              <option value="1"> 1 </option>
                              <option value="2"> 2 </option>
                              <option value="3"> 3 </option>
                              <option value="4"> 4 </option>
                              <option value="5"> 5 </option>
                      </select -->
                    </strong>
                </div>
                </p>
		<p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Nulla quis sem at nibh elementum imperdiet.</p>
                <input type="button" class="btn-warning" value="Back" onclick="goBack()">
                <!-- a class="item_add" href="javascript:;"><input type="button" class="btn-success" value="Add to Cart" onClick="simpleCart.add('quantity=1', 'name=productName','price=50');return false;"></a -->
                <a class="item_add" href="#"><input type="button" class="btn-success" value="Add to Cart"></a>
	</div>
      </div>
      <div class="span3">
        <div class="well">
           <h2>Cart</h2>
           <br>
           <strong>
	     <div class="simpleCart_items" >
	     </div>
             <br><br> 
             <a href="javascript:;" class="simpleCart_empty"><input type="button" class="btn-warning" value="Empty Cart"></a>
             <a href="javascript:;" class="simpleCart_checkout"><input type="button" class="btn-success" value="Checkout"></a>
           </strong>
        </div>
      </div>

    </div>
  </body>
  <% include ../footer.html %>
</html>
