<!DOCTYPE html>
<html lang="en">
  <style type="text/css">
      .orangey {
          color: #FF9933; 
      }
  </style>
  <head>
    <meta charset="utf-8">
    <title>Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>

  <% include ../header.html %>
  <body>
    <div class="container">
      <h2> <font class="orangey">Catalog</font></h2>
      <div>
         <strong> Sort By</strong>
      </div>
      <div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
        <a href="/items"><button type="button" class="btn" data-toggle="button">ID</button> </a>
        <a href="/itemsByCountry"><button type="button" class="btn" data-toggle="button">Country</button> </a>
        <a href="/itemsByCost"><button type="button" class="btn" data-toggle="button">Cost</button> </a>
      </div>
      <table class="table table-striped">
        <thead>
          <th>Item ID</th>
          <th>Country of Origin</th>
          <th>Description</th>
          <th>Cost</th>
          <!-- th>Image</th -->
        </thead>
        <tbody>
          <% for(var i=0; i < items.length; i++) {%>
             <tr>
               <!-- td><a href="/itemDetails/?query_string&item_id='<%= items[i].item_id %>'&country_of_origin='<%= items[i].country_of_origin %>'&description='<%= items[i].description %>'&cost='<%= items[i].cost %>'&image_url=' <%= [items[i].image_url] %>'"><%= items[i].item_id %></a></td -->
               <!-- passing stringified json object -->
               <td><a href="/itemDetails/?query_string&qjson='<%= JSON.stringify(items[i]) %>'"><%= items[i].item_id %></a></td>
               <td><%= items[i].country_of_origin %></td>
               <td><%= items[i].description %></td>
               <td><%= items[i].cost %></td-->
               <!-- td><%= items[i].image_url %></td -->
             </tr>
             <% } %>
      </table>
    </div>
  </body>
  <% include ../footer.html %>
</html>
